<div id="blogBackground">
    <div class="container" id="top-container">
        <input type="text" id = 'titleBox' class="form-control" ng-model="user.firstname">
        <input type="text" id = 'titleBox' class="form-control" ng-model="user.lastname">
        <input type="text" id = 'titleBox' class="form-control" ng-model="user.email">
        <input type="text" id = 'titleBox' class="form-control" ng-model="user.role">
    </div>
    
    <div class="container" id="bottom-container">
        <button id = 'updateButton' class="btn btn-default" type="button" ng-click="update()">Update!</button>
        <button id = 'cancelUpdateButton' class="btn btn-default" type="button" ng-click="cancelupdate()">Go Back</button>
    </div>
</div>