<div id="NavBar">
    <p id="NavBarTitle">Charley Pinckney
        <span id="resumeTag"></span>
    </p>
</div>

<div id="resumeDiv">
    <div id="resumeContactInfo">
        
        <p id="addy1"> 928 Myrtle Ave Apt 24</p><br>
        <p id="addy2">Brooklyn, NY 11206</p><br>
        <p id="resumeEmail">pinckc7@gmail.com</p><br>
        <p id="resumePhone">(205) 602-6427</p>


    </div>

    <div id="EducationDiv">
       <p class="resumeHeader">Education</p>
            <p class="schoolName">Vestavia Hills High School<span class="dateSpan">1997-2001</span></p><br>
            <p class="schoolName">University of Texas at Austin<span class="dateSpan">2001-2003</span></p>
                <p class="schoolDetails">Liberal Arts Major – undeclared</p>
                <p class="schoolDetails">Minor in Architecture</p><br>
            <p class="schoolName">University of Alabama at Birmingham<span class="dateSpan">2005-2009</span></p>
                <p class="schoolDetails">Pursued a B.A. in Art – Photography</p>
                <p class="schoolDetails">Minor in Music Technology</p><br>
            <p class="schoolName">Covalance Coding Bootcamp<span class="dateSpan">2016</span></p>
                <p class="schoolDetails">Full Stack Web Development</p>
    </div>

    <div id="ExperienceDiv">
         <p class="resumeHeader">Experience</p>
            <p class="workType">Web Development</p><br>
	            <p class="jobName">The Exceptional Foundation</p>
		            <p class="jobAddy">1616 Oxmoor Rd<span class="jobDates">01/2017 - present</span><span class="positionTitle">Freelance Web Developer</span></p>	
		            <p class="jobAddy">Birmingham, AL 35209</p>
	            <p class="jobName">Charley Pinck Photo</p>			
		            <p class="jobAddy">www.charleypinck.com <span class="jobDates">10/2017 - present</span></p>		

            <p class="workType">Photography</p><br>	

	            <p class="jobName">Freelance Portraiture Work<span class="jobDates">	2007 - present</span></p>
		            <p><span class="photoCategories">Engagements</span><span class="photoCategories2">Personal</span><span class="photoCategories2">Events</span></p>	
	            <p class="jobName">Music Editorial and Promo Photography<span class="jobDates">2007 - present</span></p>
					
    <p class="workType">Hospitality</p><br>	
    <p><span class="jobName">Osamil</span><span class="jobDates">02/2017 - present</span><span class="positionTitle">Bar Consultant & Bartender</span></p>
		    <p class="jobAddy">5 W 31st St<span class="jobDescription">Korean Gastropub</span></p>
		    <p class="jobAddy">New York, NY 10001<p>
	    <p><span class="jobName">Elyton Hotel</span><span class="jobDates">07/2017 - 09/2017</span><span class="positionTitle">Bar Consultant</span></p>
		    <p class="jobAddy">1928 1st Ave N<span class="jobDescription">Marriot Autograph Collection Hotel</span></p>
		    <p class="jobAddy">Birmingham, AL 35203<p>
	    <p><span class="jobName">Soho House NY</span><span class="jobDates">02/2017 - 04/2017</span><span class="positionTitle">Bartender</span></p>
		    <p class="jobAddy">29-35 9th Ave<span class="jobDescription">member house | hotel</span></p>
		    <p class="jobAddy">New York, New York 10014</p>
	    <p><span class="jobName">Hot & Hot Fish Club</span><span class="jobDates">06/2015- 9/2016</span><span class="positionTitle">Bar Manager</span></p>
		    <p class="jobAddy">2180 11th Court South<span class="jobDescription">fine dining | Southern American</span></p>
		    <p class="jobAddy">Birmingham, AL 35205</p>
	    <p><span class="jobName">Todd English P.U.B.</span><span class="jobDates">01/2013 - 06/2015</span><span class="positionTitle">Head Bartender</span></p>
	 	    <p class="jobAddy">2221 Richard Arrington Blvd<span class="jobDescription">high volume gastropub | brewpub</span>
		    <p class="jobAddy">Birmingham, AL 35203</p>
    </div>

    <div id="accomplishmentsDiv">
        <p class="resumeHeader">Accomplishments</p>

	<p class="jobName">2013 GQ/Bombay Sapphire “Most Imaginative Bartender Competition”</p>
		<p class="jobAddy">- winner for Alabama</p>
		<p class="jobAddy">- Runner-up in National competition in Las Vegas</p>
		<p class="jobAddy">- featured in December 2013 GQ Magazine</p>
	<p class="jobName">2014 GQ/Bombay Sapphire “Most Imaginative Bartender Competition” </p>
		<p class="jobAddy">- judge for Alabama </p>
    </div>

    <div id="linksDiv">
        <p class="resumeHeader">Links</p>
        <p><span class="linkTags">website:</span><span class="resumeLinks"><a href="/" target="_blank">Charley Pinck Photo</a></span></p>
        <p><span class="linkTags">gitHub:</span><span class="resumeLinks"><a href="https://github.com/lightCollector7" target="_blank">lightCollector7</a></span></p>
        <p><span class="linkTags">linkedIn:</span><span class="resumeLinks"><a href="https://www.linkedin.com/in/charley-pinckney-509b78130/" target="_blank">Charley Pinckney</a></span></p>
    </div>

    <div id="referencesDiv">
        <p class="resumeHeader">References</p>

            <p class="refDetails">Marcus Turner</p><br>
            <p class="refDetails">Magic City Analytics</p><br>
            <p class="refDetails">President</p><br>
            <p class="refDetails">Birmingham, AL</p><br>
            <p class="refDetails">(205) 572-2263</p><br><br>

            <p class="refDetails">Shantanu Sahai</p><br>
            <p class="refDetails">freelance web developer</p><br>
            <p class="refDetails">Birmingham, AL</p><br>
            <p class="refDetails">(615) 815-7442</p><br><br>

            <p class="refDetails">Hannah Lawrence</p><br>
            <p class="refDetails">The Exceptional Foundation</p><br>
            <p class="refDetails">Birmingham, AL</p><br>
            <p class="refDetails">(205) 870-0776</p><br><br>

            <p class="refDetails">Franklin Flanagan</p><br>
            <p class="refDetails">Hot & Hot Fish Club </p><br>
            <p class="refDetails">General Manager</p><br>
            <p class="refDetails">Birmingham, AL</p><br>
            <p class="refDetails">(205) 572-2263</p><br>

            <br><br><br><br>


    </div>

</div>



