<div id="sideMenu">
    <p class="sideMenuHeader">Galleries</p>
    <ul class="list-unstyled">
        <a href="/galleries/Portraits"><li class="sideMenuListItems">Portraits</li></a>
        <a href="/galleries/PlacesThings"><li class="sideMenuListItems">Places & Things</li></a>
        <a href="/galleries/LiveMusic"><li class="sideMenuListItems">Live Music</li></a>
        <a href="/galleries/Engagements"><li class="sideMenuListItems">Engagements</li></a>
    </ul>
    <a href="/posts"><p class="sideMenuHeader sideMenuLinks">Blog</p></a>
    <a href="/contact"><p class="sideMenuHeader sideMenuLinks">Contact Me</p></a>
    
</div>